@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: bg-stone-800;
}

::-webkit-scrollbar{
    width: 8px;
}

::-webkit-scrollbar-track{
    background: #555;
}

::-webkit-scrollbar-thumb {
    background: pink;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover{
    background: #242424;
}